#main-area {
    padding-top: 70px;
    background-color: #f9f9f9;
    padding-bottom: 60px;
}

.post {
    position: relative;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #8E8E93;
    background-color: #fff;
    padding: 10px 15px 30px 25px;
}

.post .meta-info {
    font-size: 16px;
    color: #b8b8b8;
    text-shadow: 1px 1px 0 #fff;
    font-weight: lighter;
    border-top: 1px dashed #ddd;
    padding-top: 10px;
}

.post .meta-info a {
    text-decoration: none;
    color: #888888;
}

.post h2.title, h1.title {
    font-size: 30px;
    font-weight: bold;
}

.post h2.title a {
    text-decoration: none;
    color: #2B2B2B;
}

.post h2.title a:hover {
    color: #FF5E3A;
}

.post-content {
    color: #4A4A4A;
}

.post-content h1, h2 {
    font-size: 22px;
    font-weight: lighter;
}

.post-content h3 {
    font-size: 20px;
    font-weight: lighter;
}

.post .more {
    padding-right: 14px;
    color: #bababa;
}

.post .more a {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    text-transform: uppercase;
    color: #bababa;
    font-size: 16px;
    text-shadow: 1px 1px 0 #fff;
    text-decoration: none;
}

.post .more a:hover {
    color: #111;
}

@media (min-width: 992px) {
    .affix {
        position: fixed;
        top: 70px;
        width: 293px;
    }

    .affix-bottom {
        position: absolute;
        width: 293px;
    }
}

@media (min-width: 1200px) {
    .affix {
        position: fixed;
        top: 70px;
        width: 360px;
    }

    .affix-bottom {
        position: absolute;
        width: 360px;
    }
}

#side a {
    color: #888888;
}

#side .side-item-heading {
    background-color: #f9f9f9;
    padding-bottom: 5px;
    border-bottom: 1px solid #007AFF;
    font-size: 18px;
}

#side .list-group-item {
    background-color: #f9f9f9;
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
    border-left: none;
    border-right: none;
    padding-left: 0;
}

#side .list-group-item:first-child {
    border-top: none;
}

#side .list-group-item:last-child {
    border-bottom: none;
}

#side .list-group-item a {
    padding-left: 10px;
}

#side .list-group-item a:hover {
    border-left: 4px solid #FF9500;
    text-decoration: none;
}
